QWidget {
    background: #191919;
    color: #f8f8f2;
    font-size: 15px;
    font-family: 'Fira Mono', 'Consolas', monospace;
}
QPushButton {
    background: #333;
    border: 1px solid #666;
    padding: 6px 18px;
    border-radius: 5px;
    font-weight: bold;
}
QPushButton:hover {
    background: #222;
    border: 1px solid #00ffc3;
    color: #00ffc3;
}
QLineEdit {
    background: #222;
    border: 1px solid #444;
    color: #fff;
    padding: 6px;
    border-radius: 3px;
}
QCheckBox {
    margin-right: 12px;
}
QLabel {
    margin-top: 5px;
}
QProgressBar {
    background: #222;
    border: 1px solid #444;
    height: 12px;
    border-radius: 6px;
}
